button.input-i-button {
    width: 22px;
    height: 22px;
    font-family: monospace;
    font-weight: bold;
    background-color: #0080FF;
    color: white;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}